.NotificationsMessage{
    font-size: 16px;
    margin: 30% 10%;
}

.MESSAGEHOLDER{
    position: relative;
    background: transparent;
    width: 95%;
    left: 2%;
    height: 200px;
    display: inline-flex;
    border-bottom: 1px solid brown ;
}

.NotHeader{
    position: absolute;
    top: 0;
    font-size: 16px;
}

.NotMessage{
    position: relative;
    font-size: 16px;
    padding-top: 2rem;
}