body{
    background: #5C829A;
}

#PolicyDataDiv{
    background: transparent ;
    top: 52px;
    bottom: 0;
    border-top: 1px solid #dcdcdc;
}

.inAppImages{
    position: relative;
    width: 100%;
    height: auto;
}

#ImageHolder{
    width: 30%;
    height: 100%;
    display: inline-table;
    margin-left: 0.2rem;
}

.ViewHolder{
    position: relative;
    display: inline-table;
    background: transparent;
    border: 1px solid gainsboro;
    width: 98%;
    left: 0.5%;
    border-radius: 10px;
}

#Modeicon{
    background: #dcdcdc80;
    position: absolute;
    top: 2%;
    right: 2%;
    padding: 2%;
    border-radius: 50px;
}