#UserTelephone{
width: 80%;
margin-left: 1rem;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}

.NumberDisplay{
    position: relative;
    left: 2%;
    font-size: 30px;
    display: inline-flex;
    width: 95%;
    height: 45px;
    background: transparent;
}

#display{
    position: relative;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.CountriesDiv{
    height: auto;
    bottom: 0;
    top: 0;
    overflow: hidden;
    display: none;
}

.DivData{
    top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    background: transparent;
    bottom: 70px;
    border-top: 1px solid #a52a2a50;
    border-bottom: 1px solid #a52a2a50;
}

#CloseButtonCountry{
    position: absolute;
    bottom: 0;
    top: auto;
    background: #ff000080;
}

.CountryMessage{
    position: relative;
    text-align: center;
    color:gainsboro;
    top: 0;
    margin-top: 0.4rem;   
}

#CreateUser{
    background: #00800090;
}

#Login{
    background: #0000ff90;
}